@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html{
    width:100%;
    height: 100%;
}

/* CONSTANTES */

/* GENERAL*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type:none;
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    font-size: 20px;
    scroll-behavior: smooth;
}

h1{
    font-size: 70px;
    font-weight: normal;
}

h2{
    font-weight: 800;
    font-size: 90px;
    color: rgb(86,182,187,0.2) ;
    /*color: rgb(198,74,13,0.8) ;*/
    line-height:90px;
    letter-spacing: -8px;
    padding-left: 50px;
    margin-bottom:
}

body{
    width:100%;
    height:100%;
    position : relative;
}

:root {
    /*--main-color:rgb(5, 59, 70);*/
    --main-color: rgb(198,74,13);
    --line-height:30px;
    --font-size:25px;
    --margin-paragraphes:20px 0px;
    --margin-UdSection:40px 0px;
    --size-FakeH2: 30px;
    --margin-buttons:10px 10px;
    --box-shadow-buttons:  rgba(5, 59, 70, 0.5);
}

/*
.Background {
position:absolute;
top:0px;
left:0px;
background-image:url("images/Amandine2.jpg");
background-size:cover;
width:100%;
height:100vh;
filter:blur(8px);
z-index: -1;
}
*/
/* ANCRES!!!!!!*/
.Ancre{
    color:var(--main-color);
    padding: 0px 20px;
    margin: var(--margin-buttons);
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.25s ease;
    /* line-height: 50px; */
    z-index: 5;
}

.Ancre:before{
    position: absolute;
    content: "";
    border-radius: 0px 0px 0 0 ;
    border-top: 2px var(--main-color) solid;
    border-right: 2px var(--main-color) solid;
    border-left:2px var(--main-color) solid;
    width: 100%;
    height: 12px;
    top:-10px;
    left:0;
    transition: 0.25s ease;
    z-index: 0;

}

.Ancre::after{
    position:absolute;
    content: "";
    border-radius: 0px 0px 0px 0px;
    border-bottom : 2px var(--main-color) solid;
    border-right: 2px var(--main-color) solid;
    border-left:2px var(--main-color) solid;
    bottom:-10px;
    width: 100%;
    left:0;
    height: 12px;
    transition: 0.25s ease;
    z-index: 0;
}

.Ancre:hover:before {
    top:-10px;
    height: 20px;
    background-color: var(--main-color);
    z-index: -1;
}

.Ancre:hover:after{
    bottom:-10px;
    height: 20px;
    background-color: var(--main-color);
    z-index: -1;
}

.Ancre:hover{
    color: white;
}

.Ancre.ancre_white:before,.Ancre.ancre_white:after{
    border-color:white;
}

.ancre_white:hover:before,.ancre_white:hover:after{
    background-color: white;
}

.Ancre.ancre_white{
    color: white;
    text-align: center;

}

.Ancre.ancre_white:hover{
    color: var(--main-color);
    font-weight: bold;
}


/* BARRE NAV LATERAL */

body .nav_icons {
   height: 100vh;
   left : 20px;

   display: flex;
   align-items: center;
   position: fixed;
   z-index: 10;
}

body .nav_icons ul {
   display: flex;
   flex-direction: column;
}

body .nav_icons li {
   margin: 10px 0;
}

body .nav_icons ul li i {
   font-size: 22px;
   color : rgb(150, 155, 134);
}

body .nav_icons ul li .icons_hover:hover {
   color:  rgb(198, 74, 13);
   font-weight: bold;

}

/* HEADER (BLOCK1)*/
header {
    width:100%;
    height:100vh;
    position:relative;
    z-index: 5;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
}

/* NAVIGATION*/
header nav {
    width : 100%;
    height : 60px;
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    padding : 0px 50px;
    margin:30px 0px 0px;
    position: absolute;
}

header nav ul {
    display:flex;
    height:100%;
    align-items: center;
}

header nav ul li {

}

header nav ul li a {
    padding:0px 20px;
    margin:0px 20px;
    color:white;
    flex-direction: row;
    font-size: 15px;
    font-weight: bold;
    transition: 0.25s ease;
    color: rgb(150, 155, 134);
    text-transform: uppercase;
}

header nav ul li a:hover{
    /*color : rgb(5, 59, 70);*/
    color : rgb(68, 169, 168);
    font-size : 16px;
    font-weight: bold;
}


.background {
    background-color: rgb(235, 236, 232);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background .titre_header{
    font-weight: 800;
    font-size: 120px;
    background-image: url(images/bg.jpg);
    -webkit-background-clip: text;
    background-position: 40% 60%;
    color: transparent;
    line-height:90px;
    letter-spacing: -8px;
}

.background .soustitre_header {
    padding-top:10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(198, 74, 13);
}

/*SECTION1*/

.container {
    margin: 50px auto;
    width: 80%;
    height: auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

/* BLOCK 2*/
section .Block2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
    margin: var(--margin-UdSection);
}


section .Block2 .Photo {
    width: 30%;
    height: 30%;
    position: relative;
    --maVarTop= defaultValue;
    --maVarLeft= defaultValue;
}

/*
section .Block2 .Photo:before{
width: 100%;
height: 100%;
background-color: red;
content: "";
position: absolute;
top:var(--maVarLeft);
left:var(--maVarLeft);
z-index: -1;
}*/

section .Block2 .Photo .backgroundPhoto {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    content:"";
    background: linear-gradient(0.25turn, rgba(198,74,13), #FFFFFF, #FFFFFF);
    transition:0.5s;
    z-index:-1;
}

section .Block2 .Photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    justify-content: center;
    /* border-radius: 50% 20% / 10% 40%; */
}

section .Block2 .Block21 {
    width : 60%;
    height: 60%;
    display: flex;
    flex-direction:column;
}

section .Block2 .Block21 h2 {
    text-align: left;
}

section .Block2 .Block21 p {
    margin: var(--margin-paragraphes);
}

section .Block2 .Block21 p span {
    font-weight: bolder;
    color : rgb(198,74,13,0.6);
}

section .Block2 .Block21 p .HBLien {
    color : rgb(198,74,13,0.6);
    font-weight: bold;
}

section .Block2 .Block21 .CV {
    padding-left: 10px;
}

section .Block2 .Block21 .Barre_Verticale{
    width: auto;
    margin-left: 10px;
    border-left: 1px var(--main-color) solid;
    line-height: var(--line-height);
    padding-left: 15px;
}

section .Block2 .Block21 .ancre_container {
    transition: 0.25s ease;
    display: inline;

}


/* BLOCK3*/
section .Block3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: var(--margin-UdSection);
}


section .Block3 .intro_skills h2 {
}


section .Block3 .intro_skills p{
    line-height: var(--line-height);
}


.Block3 .skills {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Block3 .skills .skill {
    position: relative;
    width: (100%/3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Block3 .skills .skill p {
    font-size: var(--size-FakeH2);
    margin: 20px 0px;
}

.Block3 .skills .skill .skill_content {
    position: relative;
    display: inline;
}

.Block3 .skills .skill .skill_content ul {
    position: relative;
    border-left: 1px black solid;
    padding-left: 8px;
}


.Block3 .skills .skill .skill_content i {
    position: absolute;
    width: 10px;
    height: 10px;
    left:-50px;
    color: var(--main-color);
}

/* BANDEAU BLOCK4*/

.containerFluid {
    /*height: 20rem;*/
    display: block;
    position:relative;
    height: 100%;
    width: 100%;
    margin: 0;
    height:700px;
}


.containerFluid .containerImage{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;

}

.containerFluid .containerImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 10s ease-in-out;
    box-shadow: inset 0.7rem 0.7rem 4rem black;
}

.containerFluid .contentBandeau {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    z-index: 10;
}

    /* SECTION 2 BLOCK 5*/
.Block5 {
        width: 100%;
        height: 100%;
}

.Block5 .Block51 {
        width:100%;
        height: 100%;
}

.Block5 .Block51 h2{
        position: relative;
}


.Block5 .Block51 p {
        line-height: var(--line-height);
}


.Block5 .Block52 {
        width:900px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows:200px;
        grid-gap: 40px;
        grid-template-areas:
        'a b c'
        'd e f';
}

.project:nth-child(1) { grid-area:a; }
.project:nth-child(2) { grid-area:b; }
.project:nth-child(3) { grid-area:c; }
.project:nth-child(4) { grid-area:d; }
.project:nth-child(5) { grid-area:e; }
.project:nth-child(6) { grid-area:f; }

.projet{
        width: 100%;
        height: 100%;
}

.projet img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
}

    /* FOOTER BLOCK 6*/
footer {
        width: 100%;
        height: 450px;
        display: flex;
        margin-top: 100px;
        flex-direction: row;
}

footer .Block61 {
        width:100%;
        height: 100%;
}

footer .Block62 {
        width: 100%;
        height:100%;
        color: rgb(150, 155, 134);
        position: relative;
        background-color: rgb(235, 236, 232) ;
}

footer .Block62 .Container {
        margin-top: 80px;
        margin-left: 80px;
}

footer .Block62 .Container .meContacter{
        font-size: var(--size-FakeH2);
        margin: 30px 0px;
        color: white;
        position: relative;
}

footer .Block62 .Container .meContacter::before{
        position: absolute;
        content: "";
        width: 80px;
        bottom: -5px;
        height: 0px;
        border-top: 4px white solid;
}


footer .Block62 .Container .Coordonnees {
        margin-left : 100px;
        height: 145px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
}

footer .Block62 .Container .Barre_Horizontale {
        width:80px;
        height: 0px;
        border: 2px white solid;
        position:relative;
        top:-30px;
    }

    footer .Block62 .Container .Coordonnées .MesCoordonnes {

    }

    footer .Block62 .Container .Coordonnées .ReseauxSociaux {

    }

    footer .Block62 .NECOPIEPAS {
        position: absolute;
        //top : calc(100% - 40px);
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
